.mainRow {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.main {
  width: calc(100% - 240px);
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f0e4d8;
}
.contents {
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.contents h2 {
  margin-top: 32px;
  position: relative;
  font-size: 2.25rem;
  font-weight: 500;
}
.contents h2::before {
  content: "Flight";
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -0.5625rem;
  font-size: 3rem;
  left: -70%;
  transform: rotate(45deg);
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.todos {
  width: -webkit-fill-available;
  max-width: 960px;
  margin: 48px 15px 32px 32px;
}
.card {
  padding: 24px;
  margin-top: 32px;
  position: relative;
  background-color: #f6f6f6;
  white-space: pre-wrap;
  border-radius: 12px;
  list-style: none;
}
.card:first-child {
  margin-top: 0;
}
.card h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.card p {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.symbolVehicle {
  margin-right: 0.25rem;
  font-size: 1.5rem;
  font-family: 'Material Symbols Outlined', 'Kiwi Maru';
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.symbolTime {
  margin-right: 0.25rem;
  font-size: 1.5rem;
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.dustBox {
  position: absolute;
  top: 0.875rem;
  right: 1.25rem;
  font-size: 2rem;
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  cursor: pointer;
}
.todosForm {
  width: -webkit-fill-available;
  max-width: 960px;
  padding: 32px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 12px;
}
.todosForm input, .todosForm textarea, .todosForm select {
  padding: 0.25rem;
  margin-bottom: 1rem;
  border: 2px solid #666;
  border-radius: 5px;
  font-size: 1rem;
}
.todosForm textarea {
  height: 9rem;
}
.addButton {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  background-color: #fff;
  font-size: 1.25rem;
  border-radius: 40px;
  border: 2px solid #666;
  cursor: pointer;
  transition: all .5s ease;
  overflow: hidden;
  position: relative;
}
.addButton:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        #666,
        #666 1px,
        transparent 2px,
        transparent 5px
    );
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}
.addButton:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
@keyframes stripe-slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}
.addButton:hover:after {
  background-image: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 1px,
      transparent 2px,
      transparent 5px
  );
  border-top: 1px solid #000;
  animation: stripe-slide 8s infinite linear forwards;
}