.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #f0e4d8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main p {
  font-size: 1.5rem;
}
.main a {
  margin-top: 1rem;
  font-size: 1.5rem;
}